<h4 class="ui header">WHO Coronavirus (COVID-19) Dashboard</h4>

<% if current_user.is_admin? %>
  <%= render "form" %>
  <div class="ui divider"></div>
<% end %>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui segment">
      <%= render "filter", countryObj: @countries, vaccineObj: @vaccines %>
    </div>
  </div>
</div>

<% if @chart_data.length > 0 %>
  <h3>Total Vaccinations Per Vaccine</h3>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui segment">
        <%= bar_chart @chart_data %>
      </div>
    </div>
  </div>
<% end %>

<table class="ui striped table">
  <thead>
    <tr>
      <th>#</th>
      <th>Country</th>
      <th>ISO3</th>
      <th>Data Source</th>
      <th>Date Updated</th>
      <th class="right aligned">Total Vaccinations</th>
      <th class="right aligned">Persons Vaccinated 1Plus Dose</th>
      <th class="right aligned">Total Vaccinations Per 100</th>
      <th>Vaccines Used</th>
      <th>First Vaccine Date</th>
      <th class="center aligned">Number of Vaccine Type Used</th>
    </tr>
  </thead>
  <tbody>
    <% @vaccinations.each_with_index do |data, index| %>
      <tr>
        <td data-label="No"><%= index + 1 %></td>
        <td data-label="Country"><%= data.country.try(&:country) %></td>
        <td data-label="ISO3"><%= data.country.try(&:iso3) %></td>
        <td data-label="Data Source"><%= data.data_source.upcase %></td>
        <td data-label="Date Updated"><%= data.date_updated %></td>
        <td data-label="Total Vaccinations" class="right aligned"><%= number_with_delimiter(data.total_vaccinations) %></td>
        <td data-label="Persons Vaccinated 1Plus Dose" class="right aligned"><%= number_with_delimiter(data.persons_vaccinated_1plus_dose) %></td>
        <td data-label="Total Vaccinations Per 100" class="right aligned"><%= number_with_delimiter(data.total_vaccinations_per100) %></td>
        <td data-label="Vaccines Used">
          <%= data.vaccines.map{ |vaccine| vaccine.vaccine_name }.join(", ") %>
        </td>
        <td data-label="First Vaccine Date"><%= data.first_vaccine_date %></td>
        <td data-label="Number of Vaccine Type Used" class="center aligned"><%= data.vaccination_details.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('.ui.dropdown').dropdown({
      "clearable": true
    });

    $('#date_updated_start_date').calendar({
      type: 'date',
      endCalendar: $('#date_updated_end_date'),
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return year + '-' + String("00" + month).slice(-2) + '-' + String("00" + day).slice(-2);
        }
      }
    });

    $('#date_updated_end_date').calendar({
      type: 'date',
      startCalendar: $('#date_updated_start_date'),
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return year + '-' + String("00" + month).slice(-2) + '-' + String("00" + day).slice(-2);
        }
      }
    });

    $('#first_vaccine_date_start').calendar({
      type: 'date',
      endCalendar: $('#first_vaccine_date_end'),
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return year + '-' + String("00" + month).slice(-2) + '-' + String("00" + day).slice(-2);
        }
      }
    });

    $('#first_vaccine_date_end').calendar({
      type: 'date',
      startCalendar: $('#first_vaccine_date_start'),
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return year + '-' + String("00" + month).slice(-2) + '-' + String("00" + day).slice(-2);
        }
      }
    });
  });
</script>