<!DOCTYPE html>
<html>
  <head>
    <title>COVID VACCINATION DATA CSV UPLOAD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
      });
    </script>
  </head>

  <body>
    <div class="ui container">
      <%= render "shared/navbar" %>
    </div>

    <div class="ui container">
      <%= render "shared/error_message" %>

      <div class="ui row"></div>
      <%= yield %>
    </div>
  </body>
</html>
